# Lab_11_Module_2_Introduction To Probability


# Challenge 1:

P(A‚à™B)=0.6 is FALSE: 
    P(A‚à™B) = P(A) + P(B) - P(A‚à©B) = 0.3 + 0.6 - 0.1 = 0.8
    
P(A‚à©BC)=0.2 is TRUE:
    P(A‚à©BC) = P(A)-P(A‚à©B) = 0.3 - 0.1 = 0.2

P(A‚à©(B‚à™Bùê∂))=0.4 is FALSE:
    B‚à™Bùê∂ = 1, therefore P(A‚à©(B‚à™Bùê∂)) = P(A) = 0.3

P(AC‚à©BC)=0.3 is FALSE:
    P(A‚à©B) = P((A‚à™B)C) = 1 - P(A‚à™B) = 1 - 0.8 = 0.2
 
P((A‚à©B)ùê∂)= 0.9 is TRUE
    P((A‚à©B)ùê∂) = 1 - P(A‚à©B) = 1 - 0.1 = 0.9

# Challenge 2:

Taking a white ball out. 
    P = 10/(10+12+8)=10/30=1/3
    
Taking a white ball out after taking a black ball out. 
    P = 10/29
    
Taking a red ball out after taking a black and a red ball out 
    P = 11/28 
    
Taking a red ball out after taking a black and a red ball out with reposition. 
    P = 12/30

#  Challenge 3:

R=rainy; C=cloudy
    
P(R)=0.1; P(C)= 0.4; P(C|R)=0.5

P(R|C) = (P(C|R)*P(R)) / P(C) = (0.5*0.1)/0.4 = 0.125

# Challenge 4

In [23]:
import pandas as pd 
df = pd.DataFrame({'Gender': ['Male', 'Female'],
                   'Yes': [324, 351], 
                   'No': [156, 169], 
                   'Total_number': [480, 520]})
df["perc_yes"] = df["Yes"]/df["Total_number"]*100
df

   Gender  Yes   No  Total_number  perc_yes
0    Male  324  156           480      67.5
1  Female  351  169           520      67.5

the two events is independente