# Lab_7_Module_2_challenge-3.ipynb

# Challenge 1 - Exploring the Data

In [3]:
import pandas as pd
Employee = pd.read_excel(r'C:\Users\Mtime\OneDrive\Bureau\Employees.xlsx')
Employee.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

1.1.Examine the salaries dataset using the head function below.

1.2.examine how much missing data is in each column. Produce this output in the cell below

In [3]:
Employee.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

1.3.Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [4]:
Employee['Salary or Hourly'].count()

33183

1.4. There are different departments in the city. List all departments and the count of employees in each department.

In [5]:
Employee.groupby('Department')['Salary or Hourly'].count()

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Salary or Hourly, dtype: int64

# Challenge 2 - Hypothesis Tests

2.1. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [9]:
from scipy import stats
import numpy as np

In [14]:
from scipy.stats import ttest_1samp

hourly_workers = Employee.loc[(Employee['Salary or Hourly'] == 'Hourly')]

tset, pval = ttest_1samp(hourly_workers['Hourly Rate'], 30)
print("Test statistic =", tset)
print("P-value =", pval)

if pval < 0.05:
    print("We are rejecting the null hypothesis")
else:
    print("We are not rejecting the null hypothesis")

Test statistic = 20.6198057854942
P-value = 4.3230240486229894e-92
We are rejecting the null hypothesis

In [24]:
pd.crosstab(Employee['Department'].max(), Employee['Salary or Hourly'] == 'Hourly')

Salary or Hourly  False  True
row_0
WATER MGMNT       25161  8022

In [25]:
from scipy.stats import ttest_1samp

hourly_workers = Employee.loc[(Employee['Salary or Hourly'] == 'Hourly')]

tset, pval = ttest_1samp(hourly_workers['Hourly Rate'], 35)
print("Test statistic =", tset)
print("P-value =", pval)

if pval < 0.05:
    print("We are rejecting the null hypothesis")
else:
    print("We are not rejecting the null hypothesis")

Test statistic = -16.352363851001144
P-value = 3.7636889298508017e-59
We are rejecting the null hypothesis

# Challenge 3: To practice - Constructing Confidence Intervals

In [4]:
from scipy import stats

mean = (Employee['Salary or Hourly'] == 'Hourly').mean()
se = stats.sem((Employee['Salary or Hourly'] == 'Hourly'),axis=0)
df = len(Employee['Salary or Hourly'] == 'Hourly') -1
i = stats.t.interval(0.95, df, mean)
i

(-1.7182851859922743, 2.201785773642577)

In [6]:
mean = (Employee['Department'] == 'POLICE').mean()
se = stats.sem((Employee['Department'] == 'POLICE'),axis=0)
df = len(Employee['Department'] == 'POLICE') -1
j = stats.t.interval(0.95, df, mean)
j

(-1.555792343271604, 2.364278616363247)