# LAB7_Module_2_Challenge 2 - ANOVA

In [1]:
import pandas as pd

In [2]:
pokemon = pd.read_csv(r'C:\Users\Mtime\OneDrive\Bureau\Pokemon.csv')
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

2.1.First let's obtain the unique values of the pokemon types. These values should be extracted from Type 1 and Type 2 aggregated. Assign the unique values to a variable called unique_types.

In [12]:
unique_types_1 = pokemon['Type 1'].unique()
unique_types_1

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [11]:
unique_types_2 = pokemon['Type 2'].unique()
unique_types_2

array(['Poison', nan, 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass',
       'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water',
       'Electric', 'Fire', 'Ghost', 'Bug', 'Normal'], dtype=object)

2.2. Second we will create a list named pokemon_totals to contain the Total values of each unique type of pokemons.

In [42]:
pokemon_totals = []
for ptype in unique_types:
    if isinstance(ptype, str):
        totals_ptype = pokemon[(pokemon['Type 1']==ptype) | (pokemon['Type 2']==ptype)]['Total']
        pokemon_totals.append(totals_ptype)

# Check number of types
len(pokemon_totals)

18

2.3 Now we run ANOVA test on pokemon_totals.

In [43]:
import scipy.stats as stats

In [44]:
st,p = f_oneway(*pokemon_totals, axis = 0)
st, p

(6.6175382960055344, 2.6457458815984803e-15)