# Lab_9 Module_2

In [7]:
import pandas as pd
import numpy as np
pokemon = pd.read_csv(r'C:\Users\Mtime\OneDrive\Bureau\pokemon.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

1.1.The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [33]:
(pokemon['Legendary']==True).value_counts()

False    735
True      65
Name: Legendary, dtype: int64

1.2.Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [46]:
mean_legendary = pokemon.query('Legendary==True')['Total'].mean()
mean_legendary

637.3846153846154

In [48]:
mean_Non_legendary = pokemon.query('Legendary == False')['Total'].mean()
mean_Non_legendary

417.21360544217686

In [49]:
std_legendary = pokemon.query('Legendary==True')['Total'].std()
std_legendary

60.93738905315346

In [50]:
std_Non_legendary = pokemon.query('Legendary == False')['Total'].std()
std_Non_legendary

106.76041745713022

1.3.The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the ttest_ind function in scipy.stats to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [51]:
from scipy.stats import ttest_ind
ttest_ind( pokemon.query('Legendary == False')['Total'],pokemon.query('Legendary==True')['Total'], equal_var =False)

Ttest_indResult(statistic=-25.8335743895517, pvalue=9.357954335957446e-47)

1.4.What do you conclude from this test? Write your conclusions below.

In [52]:
# w reject the proposition because pvalue less than 5%

1.5.How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column Type 1 and the count of each type.

In [80]:
pokemon['Type 1'].value_counts().to_frame()

          Type 1
Water        112
Normal        98
Grass         70
Bug           69
Psychic       57
Fire          52
Electric      44
Rock          44
Dragon        32
Ground        32
Ghost         32
Dark          31
Poison        28
Steel         27
Fighting      27
Ice           24
Fairy         17
Flying         4

1.6.Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [100]:
mean_Water_Pokemon = pokemon[pokemon['Type 1'] == 'Water']['Total'].mean()
mean_Water_Pokemon

430.45535714285717

In [101]:
mean_Pokemon = pokemon[pokemon['Type 1'] != 'Water']['Total'].mean()
mean_Pokemon

435.85901162790697

In [93]:
std_Water_Pokemon = pokemon[pokemon['Type 1'] == 'Water']['Total'].std()
std_Water_Pokemon

113.18826606431458

In [102]:
std_Water_Pokemon = pokemon[pokemon['Type 1'] != 'Water']['Total'].std()
std_Pokemon

121.09168230208066

1.7.Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [110]:
ttest_ind(pokemon[pokemon['Type 1'] == 'Water']['Total'], pokemon[pokemon['Type 1'] != 'Water']['Total'], equal_var=False)

Ttest_indResult(statistic=-0.4638681676327303, pvalue=0.6433915385821449)

In [111]:
# we can keep the hypothisis because pvalue graeter than 5%

# Challenge 2 - Matched Pairs Test

In [112]:
from scipy.stats import ttest_rel

2.1.Describe the results of the test in the cell below.

In [113]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [116]:
ttest_rel(pokemon['Defense'], pokemon['Attack'])

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

 Describe the results of the test in the cell below.

In [117]:
#we have a pvalue less than 5% so we can't keep the propesition

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [119]:
ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

In [120]:
#we have a pvalue greater than 5% so we can keep the propesition

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the ttest_1samp function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [123]:
from scipy.stats import ttest_1samp
ttest_1samp(pokemon['Attack']-pokemon['Defense'], 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [ ]:
#Yes it's was the same